@media only screen and (max-width: 578px){
        
    nav ul{
        display: none;
        /* transition: all 41.4s ease-out; */
    }
    nav ul li a{
        /* display: none; */
        color: white;
        /* transition: all 41.4s ease-out; */
    }
    .icon{
        display: flex;
        cursor: pointer;
        transition: all 41.4s ease-out;
    }
    .showdata{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3rem;
        width: 100%;
        text-align: center;
        padding: 0;
        gap: 1rem;
        height: 20rem;
        background: linear-gradient(to left,grey,black);
        /* background-color: black; */
        /* color: white; */
        transition: all 100000s ease-out;
    }
    /* home */
    .home{
        height: 30rem;
    }
    .home::before{
        height: 75%;
        width: 100%;
        align-items: center;
    }
    .home h1{
        font-size: 2rem;
        /* color: white; */
    }
    .home p{
        font-size: 0.9rem;
    color: white;
    padding: 2% 5%;
    }
    .read{
        padding: 1.5% 3%;
    font-size: 0.6rem;
    margin: 0 33%;
    }
    /* service section */
    .Feature{
        position: relative;
    height: 100rem;
    }
    .Feature_all{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Feature_part{
    padding: 3px 3px;
    margin: 20px 26px;
    border: 2px solid blue;
    background: linear-gradient(to right,#ff7e5f ,#feb47b);
    border-radius:5%;
    font-family: 'Roboto' sans-serif;
    width: 17rem;
    box-shadow: 10px 10px 12px orange;
}
.Feature_part img{
    height: 100px;
    margin: auto;
    /* width: 200px; */
    display: block;
    border-radius: 20%;
}
.Feature_part p{
    height: 11rem;
    width: 14rem;
    font-size: 0.9rem;
    padding: 1% 1%;
}
.feature_click{
    padding: 0.5rem 1.3rem;
    font-size: 1rem;
}
/* services*/
.Service_part{
    /* display: flex; */
    flex-direction: column;
    /* height: 1rem; */
    height: 57rem;
    justify-content: space-evenly;
    /* align-items: center; */
}
.Service_icon{
    height: 10rem;
}
.Service_part a{
    justify-content: center;
    height: 13rem;
    display: flex;
    position: relative;
}
/* contact */
.contact_us form{
    padding: 1rem 1rem;
    /* align-items: flex-start; */
    justify-content: center;
    margin: 1rem 1rem;
}
.contact_us input{
    width: 80%;
}
.contact_us textarea{
 width: 80%;
}
.contact_form button{
    font-size: 0.8rem;
}
} 
@media (min-width: 578px) and (max-width: 860px){
    /* nav{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    } */
    
    nav ul{
        display: none;
        /* transition: all 41.4s ease-out; */
    }
    nav ul li a{
        /* display: none; */
        color: white;
        /* transition: all 41.4s ease-out; */
    }
    .icon{
        display: flex;
        cursor: pointer;
        transition: all 41.4s ease-out;
    }
    .showdata{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3rem;
        width: 100%;
        text-align: center;
        padding: 0;
        gap: 1rem;
        height: 20rem;
        background: linear-gradient(to left,grey,black);
        /* background-color: black; */
        /* color: white; */
        transition: all 100000s ease-out;
    }
    /* home */
    .home{
        height: 34rem;
    }
    .home::before{
        height: 100%;
        align-items: center;
    }
    .home h1{
        font-size: 3rem;
        /* color: white; */
    }
    .home p{
        font-size: 1.2rem;
        color: white;
        padding: 2% 5%;
    }
    .read{
        padding: 2% 4%;
        font-size: 0.8rem;
        margin: 0 33%;
    }
    /* service section */
    .Feature{
        position: relative;
    height: 100rem;
    }
    .Feature_all{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Feature_part{
    padding: 3px 3px;
    margin: 20px 26px;
    border: 2px solid blue;
    background: linear-gradient(to right,#ff7e5f ,#feb47b);
    border-radius:5%;
    font-family: 'Roboto' sans-serif;
    width: 20rem;
    box-shadow: 10px 10px 12px orange;
}
.Feature_part img{
    height: 100px;
    margin: auto;
    /* width: 200px; */
    display: block;
    border-radius: 20%;
}
/* services*/
.Service_part{
    /* display: flex; */
    flex-direction: column;
    /* height: 1rem; */
    height: 57rem;
    justify-content: space-evenly;
    /* align-items: center; */
}
.Service_icon{
    height: 10rem;
}
.Service_part a{
    justify-content: center;
    height: 13rem;
    display: flex;
    position: relative;
}
/* contact */
.contact_us form{
    padding: 1rem 1rem;
    /* align-items: flex-start; */
    justify-content: center;
    margin: 1rem 1rem;
}
.contact_us input{
    width: 80%;
}
.contact_us textarea{
 width: 80%;
}
.contact_form button{
    font-size: 1rem;
}
}
@media (min-width: 860px) and (max-width: 1230px){
   /* navbar */
   nav{
    height: 4rem;
   }
    /* home */
    .home h1{
        font-size: 3rem;
    }
    .home p{
        font-size: 1.2rem;
    }
    .read a{
        font-size: 1rem;
    /* padding: 1rem 1rem; */
    width: 5rem;
    }
    /* feature */
.Feature_part img{
    height: 90px;
}
.second{
     font-size: 1.2rem;
}
.Feature{
    height: 34rem;
}
.Feature_part p{
    font-size: 1rem;
    margin: 0 auto;
    width: 14rem;
    font-size: 85%;
}
.feature_click{
    padding: 0.2rem 0.7rem;
    font-size: 1rem;
}
/* service */
.Service_icon{
    height: 9rem;
}
}
