/* All CSS */
*{
    font-family: 'Roboto' ,sans-serif;
}
body{
    margin: 0;
    padding: 0;
    /* background-color: lightyellow; */
}
.center{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
/* nav menu */
nav{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left,grey,black);
    color: black;
    position: absolute;
    width: 100%;
    height: 10%;
    z-index: 1;
    opacity: 0.9;
}
nav ul{
    display: flex;
    align-items:center;
}
nav ul li{
    list-style: none;
    /* padding: 4px 20px */
}
nav ul li a{
    text-decoration: none;
    margin-inline: 20px;
    color: black;
    font-size: 2rem;
    margin-right: 11px;
}
nav ul li a:hover,ul li .active{
    color: blue;
    /* border: 2px solid gray;
    background-color: lightgray;
    border-bottom: 2px solid red; */
}
.logo{
    margin-left: 12px;
    font-size: 18px;
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
}
.logo img{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    top:10%;
    position: relative;
}
.Button{
    padding: 4px 20px;
    /* background-color: gold; */
    background: linear-gradient(to right,rgb(229, 229, 141),rgb(241, 206, 7));
    color: chocolate;
    font-size: 1.6rem;
}
.icon{
    align-items: center;
    font-size: 30px;
    margin-right: 15px;
    display: none;
}
/* home section */
.home{
    font-family: 'Roboto' ,sans-serif;
}
.home::before{
    content: "";
    background: url('../IMAGES/Main_Img_1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 40rem;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.home h1{
   margin: 0;
   padding: 0;
   padding-top: 12rem;
   text-align: center;
   position: relative;
   /* top: 200px; */
   font-size: 5rem;
}
.home p{
    margin: 1rem 2rem;
   padding: 1% 15%;
   text-align: center;
   position: relative;
   /* top: 210px; */
   font-size:1.3rem ;
   color: white;
   background:linear-gradient(50deg,grey,transparent);
   border-radius: 40px;
}
.read{
   position: relative;
   /* right: %; */
   /* left: 45%; */
   margin: 0 44%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1% 1.8%;
   /* color: pink000; */
   background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
   border: 2px solid red;
   border-radius: 50px ;
   cursor: pointer;
   transition: 0.s;
   box-shadow: 0 0 20px #eee;
}
.read:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.read a{
 text-decoration: none;
 color: white;
 font-size: 1.5em;
}
/* Featrures */
.Feature{
    background: linear-gradient(to right,#02aab0 ,#00cdac);
    /* position: relative; */
    /* top: 8rem; */
    height: 700px;

}
.Feature_head{
    /* background: linear-gradient(to right,#000428 ,#004e92); */
    background: linear-gradient(to right,#4568dc,#b06ab3);
    height: 4rem;
    color: white;
}
.Feature_all{
    display: flex;
    /* flex-direction: row; */
    position: relative;
    /* top: 4rem; */
    border: 2px solid red;
    margin: 35px;
}
.Feature_part{
    padding: 3px 3px;
    margin: 20px 26px;
    border: 2px solid blue;
    background: linear-gradient(to right,#ff7e5f ,#feb47b);
    border-radius:5%;
    font-family: 'Roboto' sans-serif;
    width: 30rem;
    box-shadow: 10px 10px 12px orange;
}
.Feature_part img{
    height: 180px;
    margin: auto;
    /* width: 200px; */
    display: block;
    border-radius: 20%;
}
/* .set_img{
    padding: 1.3rem 0;
} */
/* .second{
    position: relative;
    top: 1rem;
} */
/* .feature_detail{
    position: relative;
    top: 1rem;
} */
/* .feature_click{
    position: relative;
    top: 1rem;
} */
.Feature_part p{
    border: 2px solid black;
    padding: 2% 1%;
    margin: 1rem auto;
    height: 9rem;
    width: 18rem;
}
.feature_click{
    padding: 0.7rem 2rem;
    background: linear-gradient(to right,#4568dc,#b06ab3);
    color: black;
    font-size:1.3rem;
    margin: 1rem;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 10px blue;
}
.feature_click:hover{
    background: linear-gradient(to right,#BFF098,#6FD6FF);
    color: black;
}
.feature_click a{
    text-decoration: none;
    color: black;
}
.feature_click a:hover{
    text-decoration: none;
    color: black;
}
/* Services */
.Service{
    /* position: relative; */
 /* top: 1rem; */
 height: 100%;
}
.Service_head{
    background: linear-gradient(to right,blue ,purple);
    color: white;
    padding: 1rem 1rem;
    margin: 0 auto;
}
.Service_part a:hover{
    background:  linear-gradient(to right, green, blue);
}
.Service_part{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 15rem;
    border: 2px solid green;
    /* margin: 1rem 1rem; */
    padding: 5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background: linear-gradient(to right,yellow,orange);
}
.Service_part a{
    border: 2px solid blue;
    background: linear-gradient(to right,red,orange);
    text-decoration: none;
    flex-direction: column;
}
.Service_part a h6{
    margin: 0 auto;
    font-size: 1.2rem;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
}
.Service_icon{
    border: 2px solid red;
    height: 15rem;
    margin: 1rem 1rem;
    padding: 1remx 1rem;
    background: linear-gradient(to right ,blue ,aqua);
}
/* Contac_Us */
.Contact{
    position: relative;
    height: 100%;
    /* width: 40%; */
}
.contact_head{
    background-color: black;
    color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem 1rem;
    margin: 0 auto;
}
.Contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../IMAGES/Contact_us.webp') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;
}
.contact_us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    /* padding: 1rem 1rem; */
    /* border: 2px solid red; */
    /* border: 2px solid white; */
}
.contact_us form{
    /* border: 2px solid red; */
    /* width: 30rem; */
    /* padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center; */
    /* align-items: center; */
}
.contact_form input{
    width: 120%;
    padding: 0.6rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
.contact_form textarea{
    width: 120%;
    padding: 0.6rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
.contact_form label{
    font-size: 1.3rem;
}
.contact_part{
    align-items: center;
    justify-content: flex-start;
    display: flex;
}
.contact_form button{
    padding: 0.5rem 2.2rem;
    border-radius: 2rem;
    background: linear-gradient(to right,yellow,rgb(57, 241, 57));
    margin: 1rem 1rem;
    font-size: 1.2rem;
}
.contact_click a{
    /* list-style: none; */
    text-decoration: none;
    color: white;
}
.contact_click:hover{
    background: linear-gradient(to right,orange,darkgreen);
}
.contact_click a:hover{
    color: red;
    /* background: linear-gradient(to right,orange,darkgreen); */
}
.contact_form{
    border: 1px solid yellow;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
/* footer */
.footer_end{
 background-color: black;
 color: white;
 display: flex;
 position: relative;
 padding: 1rem 1rem;
 align-items: center;
 justify-content: center;
}